@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    font-family: 'Montserrat';
}

.dropdown .Select-control {
    width: 50%;
    margin: 0 auto;
}

.dropdown .Select-menu-outer {
    width: 50%; 
    left: 25%;  /* Adjust this to align with the dropdown bar */
}
  
header {
    background-color: #D4E3DA;
    padding: 20px;
}

main {
    padding: 20px;
}

main, header h1, header h5, footer {
    max-width: 1920px;
    margin: auto;
}

p {
    padding: 0px;
}

h1, h5 {
    text-align: left;
}