@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-weight: 700;
}

.dropdown {
    padding: 10px;
}

.dropdown .Select-control {
    width: 50%;
    margin: 0 auto;
}

.dropdown .Select-menu-outer {
    width: 50%; 
    left: 25%;  /* Adjust this to align with the dropdown bar */
}
  
header {
    background-color: #D4E3DA;
    padding: 20px;
}

main {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
}

main, header h1, header h5, footer {
    max-width: 1920px;
    width: 90vw;
    margin: auto;
}

p {
    padding: 0px;
}

h1, h5 {
    text-align: left;
}

.footer-column {
    width: 48%;  /* Adjust this value as needed */
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;  /* Change this to adjust the spacing */
}

.footer-heading {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 10px;
}

.footer-text{
    padding: 0px;
}

.small-font {
    font-size: 0.7em;
}

.main-text{
    padding: 0px;
}

#world-map {
    height: 800px;
    width: 100%;
}

#country-holder, #dummy-button {
    display: none;
}